<h1 class="text-4xl text-gray-900 font-bold text-center">Privacy Policy</h1>
<div class="text-xl text-gray-800 pb-16">
<br>
<p>The MediMart (collectively “Merchant Store Name”, “we” and “us”, “data controller”) respect your privacy. We ensure that your privacy is protected when using our website or when placing online orders with us.</p>
<br>
<p>The MediMart provides you with goods and services and is the data controller of the personal data that you provide when you order goods.
The Data Protection Officer for The MediMart can be contacted via contact form that can be found at the contact us page.</p>
<br>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from medimart-kwanng.net (the “Site”).</p>
<br>
<p>Personal data we collect</p>
<br>
<p>When you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. We refer to this information as “Order Information”.
</p>
<br>
<p>How do we use your personal information?</p>
<br>
<p>We use the Order Information that we collect generally to fulfill any orders placed through and with the Site (including processing your payment information, arrangements for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to communicate with you.</p>
<br>
<p>We are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.</p>
<br>
<p>Your rights</p>
<p>If GDPR is applicable to you, you have the right to access personal information we hold about you and to ask that your personal information be amended, updated, or deleted, you have the right to ask for the ceasing of processing of your data, object to profiling activities and solely automated processing, request that we restrict the processing of your personal data, and/or request that your data be transferred to a third party (data portability) under certain circumstances. If you would like to exercise this right, please contact us through the contact form.</p>
<br>
<p>Changes</p>
<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
</div>