@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto px-2; // mx-auto centers it, px-4 adds horizontal padding

  @screen sm {
    max-width: 640px;
  }
  @screen md {
    max-width: 768px;
  }
  @screen lg {
    max-width: 1024px;
  }
  @screen xl {
    max-width: 1280px;
  }
  @screen 2xl {
    max-width: 1536px;
  }
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

:root {
  --mat-form-field-height: 56px;
}
.match-input-height {
  height: var(--mat-form-field-height);
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: rgb(243, 96, 96);
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: rgb(51, 234, 51);
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

