<h1 class="text-4xl text-gray-900 font-bold text-center">Terms and Conditions</h1>
<div class="text-xl text-gray-800 pb-16">
<br>
<p>These are our terms and conditions for the use of our website medimart-kwanng.net and the purchase of products through the website.</p>
<br>
<p>If you have any queries about these terms, please contact us using the contact form.</p>
<br>
<p>The terms and conditions herein together with any notices or conditions on other areas of this website will all together govern use by customers of this website. You should note that Medimart may at any time make changes to or remove part of this website without any liability to customers for such changes. The Medimart reserves the right to change these terms and conditions in the future without specifically notifying customers and continued use of the website or placing of orders after such changes shall be deemed to be acknowledgement and acceptance thereof.</p>
<br>
<p>A contract will only come into existence between you the customer and us once your order has been processed and dispatched.</p>
<br>
<p>When you as a customer place an order via this website, you warrant by placing the order that</p>
<br>
<div class="indent-8">
<ol class="list-decimal list-inside">
    <li >You are not a minor or otherwise legally incapable of entering into a binding contract.</li>
    <li>The personal details which you give us on registration are fully complete and accurate.</li>
    <li>You are not using a false name or the name of any other person or body which you are not authorised to use.</li>
</ol>
</div>
<br>
<p>Placement of an order</p>
<p>When you place your order you are doing so in acceptance of these terms and conditions and it is important that you have read them before you go ahead and order.</p>
<br>
<p>Cancelling an order</p>
<p>As a customer, you are free to cancel an order within 14 days and will be refunded amount of your order to the account the order originally was paid from.</p>
<br>
<p>Acceptance of an order</p>
<p>When an order is placed you will get an order confirmation sent to the email address you provided during registration, containing information about order content, prices.</p>
<br>
<p>Delivery</p>
<p>You as a buyer are free to choose from mentioned and at the time relevant delivery option(s). The Medimart assumes no responsibility for damages during transport or damages caused from any delays beyond its control.</p>
<br>
<p>Returns Policy</p>
<p>The Medimart accepts returns within 14 days if products are not used, changed, washed or otherwise manipulated. Products need to be returned in original packaging. No products may be returned to The Medimart without the prior written consent of The Medimart and are subject to a return charge.</p>
<br>
<p>Liability</p>
<p>We try to have the information on this website as accurate as possible but we make no warranties, whether express or implied, regarding its accuracy. We also do not make any warranties regarding any matters relating to the use of this website and it is a matter for you to ensure that your own equipment is protected from viruses or other external factors.
Your rights are protected by the Sale of Goods and Supply of Services Act, 1980, and also the Consumer Protection Act, 2007, where you are a consumer. Nothing in this website shall affect your rights under the applicable law.
</p>
<br>
<p>Severance</p>
<p>If any of these terms and conditions shall prove to be void, unlawful, or unenforceable for any reason then such term or condition shall be deemed to be severed from the remaining terms and conditions which shall remain valid and enforceable.
If any provision of these terms and conditions shall be unlawful, void or for any reason unenforceable then that provision shall be deemed severable and shall not affect the validity and enforceability of the remaining provisions.
</p>
</div>