<mat-card class="max-w-md mx-auto mt-24 p-6 custom-card">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <h2 class="text-xl font-semibold mb-4 text-center">Reset Password</h2>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" required />
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
        Minimum 8 characters required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required />
      <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
        Please confirm your password
      </mat-error>
      <mat-error *ngIf="resetForm.hasError('passwordMismatch') && resetForm.get('confirmPassword')?.touched">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="resetForm.invalid" class="w-full mt-4">
      Reset Password
    </button>
  </form>
</mat-card>
