<header class="border-b p-3 w-full fixed top-0 z-50 bg-white" 
[ngClass]="{'max-h-24': accountService.isAdmin, 'max-h-20': !accountService.isAdmin}">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <img routerLink="/" src="/images/logo.png" alt="app logo" class="max-h-16">
        <button class="lg:hidden custom-badge mt-2 mr-2" [matMenuTriggerFor]="menu">
            <mat-icon >menu</mat-icon>
        </button>
        <nav class="hidden lg:flex flex-wrap max-w-4xl gap-x-6 uppercase text-xl">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
            <a routerLink="/delivery" routerLinkActive="active">Delivery</a>
            <a routerLink="/faq" routerLinkActive="active">FAQ</a>
            <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
            @if (accountService.currentUser()?.roles === "Admin" || accountService.currentUser()?.roles === "Director") {
            <a routerLink="/admin" routerLinkActive="active">Management</a>
            }
            @if (accountService.currentUser()?.roles === "Admin" || accountService.currentUser()?.roles === "Director" || accountService.currentUser()?.roles === "Analyst") {
            <a routerLink="/chart" routerLinkActive="active">Data Visualisation</a>
            }
        </nav>
        <div class="flex gap-2 items-center ml-4">
            <a routerLink="/cart" routerLinkActive="active" matBadge="{{cartService.itemCount()}}" matBadgeSize="large" class="custom-badge mt-2 mr-2">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            @if (accountService.currentUser()) {
                <button mat-button [matMenuTriggerFor]="loginedMenu" class="custom-badge">
                    <mat-icon>arrow_drop_down_circle</mat-icon>
                    <span>{{accountService.currentUser()?.firstName?.trim() ? accountService.currentUser()?.firstName : accountService.currentUser()?.email}}</span>
                </button>
            } @else {
            <button routerLink="/account/login" mat-stroked-button class="text-sm lg:text-base w-28">Login</button>
            <button routerLink="/account/register" mat-stroked-button class="text-sm lg:text-base w-28">Register</button>
            }
        </div>
    </div>
</header>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
  <button mat-menu-item routerLink="/aboutus" routerLinkActive="active">About Us</button>
  <button mat-menu-item routerLink="/delivery" routerLinkActive="active">Delivery</button>
  <button mat-menu-item routerLink="/faq" routerLinkActive="active">FAQ</button>
  <button mat-menu-item routerLink="/contactus" routerLinkActive="active">Contact Us</button>
  @if (accountService.currentUser()?.roles === "Admin" || accountService.currentUser()?.roles === "Director") {
  <button mat-menu-item routerLink="/admin" routerLinkActive="active">Management</button>
  }
  @if (accountService.currentUser()?.roles === "Admin" || accountService.currentUser()?.roles === "Director" || accountService.currentUser()?.roles === "Analyst") {
  <button mat-menu-item routerLink="/chart" routerLinkActive="active">Data Visualisation</button>
  }
</mat-menu>

<mat-menu #loginedMenu="matMenu" class="px-5">
    <button mat-menu-item class="px-3" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        My cart
    </button>
    <button mat-menu-item class="px-3" routerLink="/orders">
        <mat-icon>history</mat-icon>
        My orders
    </button>
    <button mat-menu-item class="px-3" routerLink="/two-fa-setup">
        <mat-icon>security</mat-icon>
        Security
    </button>
    @if (!accountService.isAdmin()) {
    <button mat-menu-item class="px-3" routerLink="/support-messages">
        <mat-icon>contact_support</mat-icon>
        Support
    </button>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item class="px-3" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>

@if (loading) {
    <mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
}
