<div class="max-w-7xl mx-auto px-4 pb-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <a class="max-h-[30vh]" routerLink="/sales-over-time"><app-sales-chart></app-sales-chart></a>
    <a class="max-h-[30vh]" routerLink="/top-selling-products"><app-top-selling-products></app-top-selling-products></a>
    <a class="max-h-[30vh]" routerLink="/sales-by-status"><app-sales-by-status></app-sales-by-status></a>
    <a class="max-h-[30vh]" routerLink="/revenue-per-product"><app-revenue-per-product></app-revenue-per-product></a>
    <a class="max-h-[30vh]" routerLink="/average-delivery-time"><app-average-delivery-time></app-average-delivery-time></a>
    <a class="max-h-[30vh]" routerLink="/delivery-distribution"><app-delivery-distribution></app-delivery-distribution></a>
    <a class="max-h-[30vh]" routerLink="/on-time-dispatch-rate"><app-on-time-dispatch-rate></app-on-time-dispatch-rate></a>
    <a class="max-h-[30vh]" routerLink="/role-distribution"><app-role-distribution></app-role-distribution></a>
    <a class="max-h-[30vh]" routerLink="/registrations-over-time"><app-registrations-over-time></app-registrations-over-time></a>
  </div>
</div>

