.brand-list-grid mat-selection-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 0.5rem; /* Optional spacing between columns */
  overflow-y: auto;
}

.custom-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(106, 169, 236, 0.2);
}