<div class="min-h-screen">
    <mat-tab-group class="bg-white" [selectedIndex]="selectedTabIndex">
        <mat-tab label="Order Summary">
            <app-order-management></app-order-management>
        </mat-tab>
        <mat-tab label="Order Items">
            <app-order-item></app-order-item>
        </mat-tab>
        <mat-tab label="Inventory Management">
            <app-inventory-management></app-inventory-management>
        </mat-tab>
        <mat-tab label="User Management">
            <app-user-management></app-user-management>
        </mat-tab>
        <mat-tab label="Contact Messages">
            <app-contact-message></app-contact-message>
        </mat-tab>
    </mat-tab-group>
</div>