<div class="mx-auto mt-10 min-h-screen">
        <div class="flex justify-between items-center mt-2 max-w-screen-2xl mx-auto">
             <h2 class="font-semibold text-2xl mb-6 text-center">Customer orders</h2>
               <div class="text-center mb-4">
                <button mat-stroked-button
                    (click)="downloadCSV()"
                    class="  text-white font-semibold px-4 py-2 rounded"
                    >
                     Download CSV
                 </button>
                </div>
               <mat-form-field appearance="outline" class="mt-2">
                    <mat-label>Filter by status</mat-label>
                    <mat-select (selectionChange)="onFilterSelect($event)">
                        @for (status of statusOptions; track $index) {
                            <mat-option [value]="status">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
        </div>
    <div class="flex flex-col">
        <div class="w-full">
            <table class="min-w-full divide-y divide-gray-200 cursor-pointer">
                <thead class="bg-gray-50">
                    <tr class="uppercase text-gray-600 text-sm">
                        <th class="text-center px-6 py-3">Order</th>
                        <th class="text-left">Buyer Email</th>
                        <th class="text-left">Date</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Total</th>       
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (order of orders; track order.id) {
                        <tr routerLink="/orders/{{order.id}}" class="hover:bg-gray-100">
                            <th class="px-6 py-3"># {{order.id}}</th>
                            <td>{{order.buyerEmail}}</td>
                            <td>{{order.orderDate | date: 'medium'}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.total | currency:'GBP':'symbol' }}</td>
                        </tr>
                    }
                </tbody>
            </table>
                    <mat-paginator 
                        class="custom-card"
                        [pageSizeOptions]="[10, 100, 500]"
                        [length]="totalItems"
                        [pageSize]="orderParams.pageSize"
                        (page) = onPageChange($event)
                        showFirstLastButtons
                        >
                    </mat-paginator>
        </div>
    </div>
</div>

